@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../public/down-arrow\ \(1\).png") 96% / 15% no-repeat #eee;
}
